<launch>
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0.0 0.0 0.45 0 0.0 0.0 base_link laser 100"/>
  <node name="cartographer_assets_writer" pkg="cartographer_ros" required="true"
      type="cartographer_assets_writer" args="
          -configuration_directory $(find turbot_slam)/launch/cartographer/lua
          -configuration_basename turtlebot_assets_rslidar_3d.lua
          -urdf_filename $(find turbot_slam)/launch/cartographer/urdf/kobuki_hexagons_kinect.urdf
          -bag_filenames $(arg bag_filenames)
          -pose_graph_filename $(arg pose_graph_filename)"
      output="screen">
  </node>
</launch>
