<launch>
  <include file="$(find turtlebot_bringup)/launch/3dsensor.launch" />
  <!-- We override the parameter here to remove the leading slash which should
       not be there according to tf2 naming rules. -->
  <param name="/depthimage_to_laserscan/output_frame_id"
      value="camera_depth_frame" />

  <include file="$(find turbot_slam)/launch/cartographer/cartographer.launch">
    <arg name="configuration_basename" value="turtlebot_depth_camera_2d.lua" />
  </include>
</launch>


